<main class="main">
  <figure class="main__image">
    <img src="./assets/images/image-web-3-desktop.jpg" alt="" />
  </figure>
  <h1 role="banner" class="main__header">The Bright Future of Web 3.0?</h1>
  <article class="main__content">
    <p>
      We dive into the next evolution of the web that claims to put the power of
      the platforms back into the hands of the people. But is it really
      fulfilling its promise?
    </p>

    <button class="btn main__btn">Read more</button>
  </article>
</main>
