<!-- SECONDARY ARTICLE SECTION -->
<section role="complementary" class="subordinate">
  <article class="subordinate__article subordinate__article--1">
    <figure class="subordinate__article-image">
      <img src="./assets/images/image-retro-pcs.jpg" alt="" />
    </figure>
    <div class="subordinate__article-content">
      <h2 class="color-grayish-blue">01</h2>
      <h3 class="color-very-dark-blue">Reviving Retro PC's</h3>
      <p>What happens when old PCs are given modern upgrades?</p>
    </div>
  </article>

  <article class="subordinate__article subordinate__article--2">
    <figure class="subordinate__article-image">
      <img src="./assets/images/image-top-laptops.jpg" alt="" />
    </figure>
    <div class="subordinate__article-content">
      <h2 class="color-grayish-blue">02</h2>
      <h3 class="color-very-dark-blue">Top 10 Laptops of 2022</h3>
      <p>Our best picks for various needs and budgets.</p>
    </div>
  </article>

  <article class="subordinate__article subordinate__article--3">
    <figure class="subordinate__article-image">
      <img src="./assets/images/image-gaming-growth.jpg" alt="" />
    </figure>
    <div class="subordinate__article-content">
      <h2 class="color-grayish-blue">03</h2>
      <h3 class="color-very-dark-blue">The Growth of Gaming</h3>
      <p>How the pandemic has sparked fresh opportunities.</p>
    </div>
  </article>
</section>
